@model IEnumerable<FilRouge.DataAccessLayer.Models.Report>
@{
    ViewBag.Title = "Quizz List";
}

<h2>Quizz List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quizz.Candidate.User.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quizz.Candidate.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quizz.DifficultyLevel.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlobalGoodAnswersPercent)
        </th>
        <th>
            Good Answers Percent per level
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quizz.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quizz.RecruitmentAgent.User.LastName)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quizz.Candidate.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quizz.Candidate.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quizz.DifficultyLevel.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlobalGoodAnswersPercent)
            </td>
            <td>
                <ul>
                    @foreach (var level in item.AnswerPercentLevels)
                    {
                        <li>@level.GoodAnswersPercent</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quizz.EndDate.ToString("d"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quizz.RecruitmentAgent.User.LastName)
            </td>
        </tr>
    }
</table>
